<% @notification = 'This is your Homepage.' %>

<% if @homepage.account.user == current_user %>
	<div class="pure-notification">
		<%= fa_icon 'info', class: 'fa-fw', text: @notification %>
		<button onclick="$(this).parent('div').remove()">
			<i class="fa fa-close"></i> Close
		</button>
	<script>
		topHeight = $('#navigation-main').height();
		$('.pure-notification').css('top',topHeight);
	</script>
	</div>

<% end %>

<% if @homepage.content %>
<p id="notice"><%= notice %></p>
  <%= @homepage.content.html_safe %>
<% end %>

<%= link_to 'Edit with <b>Spooner</b>'.html_safe, edit_account_homepage_path(@homepage) %> |
<%= link_to 'Back', homepages_path %>