<% if @homepage.Content %>
<p id="notice"><%= notice %></p>
  <%= @homepage.Content.html_safe %>
<% end %>
<div>
  <i>PROUDLY MADE BY <%= @account %></i>
</div>

<%= link_to 'Edit', edit_account_homepage_path(@homepage) %> |
<%= link_to 'Back', homepages_path %>