<div class="sp-toolbar-vertical sp-ui">
	<ul>
		<li><button class="sp-button-tool"><%= fa_icon 'paint-brush', class: 'fa-fw' %></button></li>
		<li><button class="sp-button-tool"><%= fa_icon 'arrows', class: 'fa-fw' %></button></li>
		<li><button onclick="spButton('source');" id="sp-tool-source" class="sp-button-tool"><%= fa_icon 'code', class: 'fa-fw' %></button></li>
		<li><button onclick="spButton('settings');" id="sp-tool-settings" class="sp-button-tool"><%= fa_icon 'cogs', class: 'fa-fw' %></button></li>
		<li><button class="sp-button-tool"><%= fa_icon 'paint-brush', class: 'fa-fw' %></button></li>
		<li><button class="sp-button-tool"><%= fa_icon 'paint-brush', class: 'fa-fw' %></button></li>
		<li><button class="sp-button-tool"><%= fa_icon 'paint-brush', class: 'fa-fw' %></button></li>
		<li><button class="sp-button-tool"><%= fa_icon 'paint-brush', class: 'fa-fw' %></button></li>
		</li>
	</ul>
</div>