
<%= video_tag('background.webm', 'background.mp4', poster: 'background.jpg', autoplay: true, loop: true, autobuffer: true, class:'splash-video') %>

<div class="scroll-for-more hide-on-scroll">
	<p>Scroll down for more information.</p>
</div>

<div class="welcome-container hide-on-scroll">
	<div class="window-focus text-center">
		<h2>Welcodme to</h2>
		<h1>Foundation</h1>
		<h2><b>Foundation</b> lets you design your own, awesome homepage!</h2>
		<form class="pure-form">
			<%= link_to 'sign up', new_user_registration_path, class: 'pure-button pure-button-lead' %>
			<%= link_to 'learn more', learn_more_path, class: 'pure-button pure-button-lead pure-button-catch'  %>
		</form>
	</div>
</div>

<div class="content-wrapper">
	<div class="container white">
		<div class="l-box">
			<h1>Examples</h1>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-1-4">
					<h3><a href="#">Mark</a>'s Website</h3>
					<%= image_tag 'screenshot1.jpg', class: 'pure-img' %>
					<div class="l-box">
						<h3>What do you think about <b>Foundation</b>?</h3>
						<p><i>"I really love my Website. It's so lush and personal. I'm pretty bad at computers, so without <b>Foundation</b>, I never would've been able to do this on my own!"</i></p>
						<hr>
					</div>
				</div>
				<div class="pure-u-1 pure-u-md-1-4">
					<h3><a href="#">Helen</a>'s Website</h3>
					<%= image_tag 'screenshot2.jpg', class: 'pure-img' %>
					<div class="l-box">
						<h3>What do you think about <b>Foundation</b>?</h3>
						<p><i>"As a member of the <b>United Freedom Forces</b>, I am not allowed to own a real Website. That's why I love <b>Foundation</b> so much - it's an enabler!"</i></p>
						<hr>
					</div>
				</div>
				<div class="pure-u-1 pure-u-md-1-4">
					<h3><a href="#">Mark</a>'s Website</h3>
					<%= image_tag 'screenshot1.jpg', class: 'pure-img' %>
					<div class="l-box">
						<h3>What do you think about <b>Foundation</b>?</h3>
						<p><i>"I really love my Website. It's so lush and personal. I'm pretty bad at Computers, so without <b>Foundation</b>, I never would've been able to do this on my own!"</i></p>
						<hr>
					</div>
				</div>
				<div class="pure-u-1 pure-u-md-1-4">
					<h3><a href="#">Helen</a>'s Website</h3>
					<%= image_tag 'screenshot2.jpg', class: 'pure-img' %>
					<div class="l-box">
						<h3>What do you think about <b>Foundation</b>?</h3>
						<p><i>"As a member of the <b>United Freedom Forces</b>, I am not allowed to own a real Website. That's why I love <b>Foundation</b> so much - it's an enabler!"</i></p>
						<hr>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container white">
		<div class="l-box">
			<h1>Examples</h1>
			<div class="pure-g">
				<div class="pure-u-1 pure-u-md-1-2">
					<div class="l-box">
						<h3>Lorem Ipsum Obey</h3>
						<p>Corrupti ipsam voluptate maxime ducimus fugiat, hic quo facere excepturi asperiores aliquam! Laborum ut veritatis est velit vero ullam consectetur iure laudantium sint, voluptas explicabo similique vitae a ipsum optio!Porro in illo sapiente. Non excepturi perferendis quod dolor vitae doloremque laboriosam omnis consequatur quidem aut, dolore laudantium, cum debitis facere quas, quisquam perspiciatis natus reprehenderit. Delectus eligendi, praesentium rem.</p>
						<p>Minus ad aliquid quibusdam cum nulla, quod harum, tempore illum id quos, cupiditate et beatae quis quasi nemo. Similique debitis architecto at pariatur temporibus nesciunt aut nobis, harum sapiente nulla.</p>
						<p>Accusantium recusandae, qui ex esse vero perferendis nesciunt facere id cum odio hic obcaecati natus itaque minus sunt beatae totam perspiciatis voluptatibus inventore distinctio? Doloribus eum beatae animi ab, omnis!Dolorem temporibus veritatis adipisci corporis, maiores deserunt vel nulla! Laboriosam, at, totam! Labore nostrum ab consequatur illum voluptates atque alias maxime a voluptatum quas dicta, quia voluptate ipsa nesciunt natus? Dolorem temporibus veritatis adipisci corporis, maiores deserunt vel nulla! Laboriosam, at, totam! Labore nostrum ab consequatur illum voluptates atque alias maxime a voluptatum quas dicta, quia voluptate ipsa nesciunt natus?</p>
						<form class="pure-form">
							<button class="pure-button pure-button-primary">sign up</button>
							<button class="pure-button">learn more</button>
						</form>
					</div>
				</div>
				<div class="pure-u-1 pure-u-md-1-2">
					<div class="l-box">
						<h3>Lorem Ipsum Obey</h3>
						<p>Corrupti ipsam voluptate maxime ducimus fugiat, hic quo facere excepturi asperiores aliquam! Laborum ut veritatis est velit vero ullam consectetur iure laudantium sint, voluptas explicabo similique vitae a ipsum optio!Porro in illo sapiente. Non excepturi perferendis quod dolor vitae doloremque laboriosam omnis consequatur quidem aut, dolore laudantium, cum debitis facere quas, quisquam perspiciatis natus reprehenderit. Delectus eligendi, praesentium rem.</p>
						<p>Minus ad aliquid quibusdam cum nulla, quod harum, tempore illum id quos, cupiditate et beatae quis quasi nemo. Similique debitis architecto at pariatur temporibus nesciunt aut nobis, harum sapiente nulla.</p>
						<p>Accusantium recusandae, qui ex esse vero perferendis nesciunt facere id cum odio hic obcaecati natus itaque minus sunt beatae totam perspiciatis voluptatibus inventore distinctio? Doloribus eum beatae animi ab, omnis!Dolorem temporibus veritatis adipisci corporis, maiores deserunt vel nulla! Laboriosam, at, totam! Labore nostrum ab consequatur illum voluptates atque alias maxime a voluptatum quas dicta, quia voluptate ipsa nesciunt natus?Eum rerum deserunt modi, quis non, mollitia temporibus. Eius assumenda, recusandae suscipit, consequuntur voluptates molestiae laudantium fuga nihil ipsa expedita magnam, voluptatibus animi, ipsum. Voluptates nam in aliquam numquam sapiente?</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container text-white fullscreen">
		<div class="l-box center">
			<h1>Register</h1>
			<p>Register your account.</p>
			<form class="pure-form">
			    <fieldset class="pure-group">
			        <input type="text" class="pure-input-1" placeholder="Username">
			        <input type="text" class="pure-input-1" placeholder="Password">
			        <input type="email" class="pure-input-1" placeholder="Email">
			    </fieldset>

			    <fieldset class="pure-group">
			        <input type="text" class="pure-input-1" placeholder="Example Group">
			        <input type="text" class="pure-input-1" placeholder="Purecss Rocks!">
			    </fieldset>

			    <button type="submit" class="pure-button pure-input-1 pure-button-primary">Sign up</button>
			</form>
		</div>
	</div>

</div>