<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
    <br><br>
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
    <br><br>
    <%= f.label :nickname %><br>
    <%= f.text_field :nickname, placeholder: 'none' %>
    <br><br>
    <%= f.label :paypal_address %><br>
    <%= f.text_field :paypal_address %>
    <br><br>
    <%= f.submit %>
  </div>
<% end %>
